* {
    padding: 0;
    margin: 0;
    font-size: 20px;
    font-style: normal;
    font-family: 'Inconsolata', monospace;
    color: #FFF;
}

.body {
    background-color: #6C5990;
}

.main {
    margin: 0 auto;
    width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.score {
    width: 40px;
    background-color: #D8D654;
    border: 2px #C0AD24 solid;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 10px;
}

#game-canvas {
    background-image: url(cell.png);
    background-repeat: repeat;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}

.button {
    width: 50px;
    height: 50px;
    background-color: #D8D654;
    border: 2px #C0AD24 solid;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin: 5px;
    padding: 5px;
}